@font-face {
    font-family: "AvenirNextLtPro";
    src: url("../../assets/Fonts/Alternative/AvenirNextLTPro.ttf") format("ttf"),
      url("../../assets/Fonts/AvenirNextLTPro-Regular.otf") format("opentype");
    font-weight: 400;
  }
  
  @font-face {
    font-family: "AvenirNextLtPro";
    src: url("../../assets/Fonts/Alternative/AvenirNextLTProBold.ttf")
        format("ttf"),
      url("../../assets/Fonts/AvenirNextLTPro-Bold.otf") format("opentype");
    font-weight: 700;
  }
  