@use "./typography";

$font-stack: "Barlow";

$primaryBlack: #323232;
$primaryGreen: #078080;
$primarySilver: #afafaf;
$primaryWhite: #ffffff;

$secondaryDarkBlack: #000000;
$secondaryoffWhite: #f8f5f2;
$secondaryMercury: #e1e1e1;
$secondaryOrange: #f45d48;


$tabletBreakpoint: 768px;
$desktopBreakpoint: 1280px;
