@use "./typography";

$font-stack: "AvenirNextLtPro";

$primaryBlack: #323232;
$primaryBlue: #0095ff;
$primarySilver: #afafaf;
$primaryWhite: #ffffff;

$secondaryDarkBlack: #000000;
$secondaryDarkBlue: #0065ad;
$secondaryMercury: #e1e1e1;
$secondaryAlabaster: #fafafa;

$tabletBreakpoint: 768px;
$desktopBreakpoint: 1280px;
