@use "../../styles/partials/global";
@use "../../styles/partials/reset";
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography";
@use "../../styles/partials/variables" as *;

.section {
    &__inputPage {
        padding:1rem;
        width: 100%;
    }
}
.input {

    &__banner {
        height: 20rem;
        display:flex;
        justify-content: center;
        align-items: center;
    }
    &__heading {
        font-size: 4rem;
        line-height:4.4rem;
        width:30rem;
    }

    &__CTA {
        border: 1px solid $secondaryOrange;
        border-radius: 1rem;
        padding: 1rem;
        margin-top: 2rem;
    }

    &__CTA--button {
        width:100%;  
    }
    &__submitText {
        color: $secondaryOrange;
        padding: 1rem;
    }
}
.addResponse {

    &__question {
        border: 1px solid $primaryGreen;
        border-radius: 5px;
        background-color: $secondaryMercury;
        padding: 1rem;
        margin:1rem 0 2rem 0;
    }
    &__display {
        font-size: 2.4rem;
        
    }
    &__label {
        display: block;
        padding-bottom: .5rem;
        
    }
    &__name {
        display:block;
        margin-bottom: 1rem;
        height:3.6rem;
        width:100%;
        padding:0 1.6rem;
        background-color: $secondaryoffWhite;
        border: 1px solid $primarySilver;
        border-radius: 2rem;
        outline:none;
        font-family: $font-stack;
        

    }
    &__input {
        @extend .addResponse__name;
        height: 10rem;
        padding: 1rem 1.6rem; 
    }

    &__formBorder {
        border: 1px solid $primaryGreen;
        border-radius: 1rem;
        padding:1rem; 
    }


    &__CTA--button {
        width:95%;
        margin-top: 2rem;

    }
   
}