@use "../../styles/partials/global";
@use "../../styles/partials/reset";
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography";
@use "../../styles/partials/variables" as *;

.section {
  &__inputPage {
    max-width: $maxContentWidth;
    margin: 0 auto;
    margin-bottom: 14rem;
  }
}
.input {
  &__pageWrap {
    padding: 1rem;
    width: 100%;

    @include tablet {
      padding: 2rem;
    }
  }
  &__banner {
    height: 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__heading {
    font-size: 4rem;
    line-height: 4.4rem;
    width: 30rem;
  }
  &__heading--color {
    color: $primaryGreen;
  }
  &__subtext {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &__subheadingA {
    margin-bottom: 2rem;
  }
  &__subheadingB {
    padding: 1rem;
  }
  &__CTA--wrapperB {
    display: flex;
    justify-content: center;
  }
  &__CTA {
    border: 1px solid $secondaryOrange;
    border-radius: 1rem;
    padding: 1rem;
    margin: 2rem 0 2rem 0;

    @include tablet {
      margin: 4rem 0 4rem 0;
      width: 80%;
    }
  }
  &__CTA--button {
    width: 100%;
  }
  &__submitText {
    color: $secondaryOrange;
    padding: 1rem;
    font-weight: 600;
  }
}
.addResponse {
  &__question {
    border-bottom: 2px solid $secondaryOrange;
    border-top: 2px solid $secondaryOrange;
    padding: 2rem;
    font-weight: 600;
    font-size: 2rem;
    margin-bottom: 2rem;
  }
  &__formBorder {
    border: 1px solid $primaryGreen;
    border-radius: 1rem;
    padding: 1.4rem;
    box-shadow: $shadow;

    @include tablet {
      padding: 2rem;
    }
  }
  &__display {
    font-size: 2.4rem;
  }
  &__label {
    display: block;
    padding-bottom: 0.5rem;
  }
  &__name {
    display: block;
    margin-bottom: 2rem;
    height: 3.6rem;
    width: 100%;
    padding: 0 1.6rem;
    background-color: $secondaryoffWhite;
    border: 1px solid $primarySilver;
    border-radius: 1rem;
    outline: none;
    font-family: $font-stack;
    box-shadow: $shadow;
  }
  &__input {
    @extend .addResponse__name;
    min-height: 10rem;
    height: auto;
    padding: 1rem 1.6rem;
  }
  &__CTA--button {
    width: 100%;
    margin-top: 2rem;

    @include tablet {
      width: 18rem;
    }
  }
  &__CTA--wrapper {
    @include tablet {
      display: flex;
      justify-content: flex-end;
    }
  }
}
