@use "../../styles/partials/global";
@use "../../styles/partials/reset";
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography";
@use "../../styles/partials/variables" as *;


.header {
    &__section{
        width:100%;
        height: auto;
        background-color: #4f4d4a;  
    }
    &__container--limit {
        margin: 0 auto;
        max-width:$maxContentWidth;
    }
    &__container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

    }
    &__logo{
           flex-wrap: wrap;        
        font-family: Monoton;
        font-weight: 400;
        font-size:2.6rem;
        margin:2rem 0 0 2rem;
        text-decoration: underline $primaryGreen; 
    }
    &__homeLink {
        flex-grow:1;
        text-decoration: none;
        color:$secondaryoffWhite; 
    }
    &__login {
        font-size: 1.8rem;
        margin: 2rem 0;
        color: white;
        text-decoration: underline $secondaryOrange;
    }
    &__signUp {
        font-size: 1.8rem;
        margin:2rem 2rem 0 2rem;
        color:white;
    }
}