@use "../../styles/partials/global";
@use "../../styles/partials/reset";
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography";
@use "../../styles/partials/variables" as *;

.footer {
  &__section {
    width: 100%;
    height: auto;
    background-color: #4f4d4a;
  }
  &__container--limit {
    margin: 0 auto;
    max-width: $maxContentWidth;
  }
  &__contentWrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  &__logo {
    font-family: Monoton;
    text-decoration: underline $primaryGreen;
    font-weight: 400;
    font-size: 2.6rem;
    margin: 2rem 0 0 4rem;
  }
  &__homeLink {
    flex-grow: 1;
    text-decoration: none;
    color: $secondaryoffWhite;
  }
  &__details--wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 2rem 4rem;
    color: $secondaryoffWhite;

    @include tablet {
      align-items: flex-end;
    }
  }
  &__name {
    font-size: 1rem;

    @include tablet {
      font-size: 1.4rem;
    }
  }
  &__git {
    font-size: 1rem;
    text-decoration: underline $secondaryOrange;
    color: $secondaryoffWhite;
    @include tablet {
      font-size: 1.4rem;
    }
  }
  &__linkedIn {
    font-size: 1.2rem;
    text-decoration: underline $secondaryOrange;
    color: $secondaryoffWhite;
    @include tablet {
      font-size: 1.4rem;
    }
  }
}
