@use "../../styles/partials/global";
@use "../../styles/partials/reset";
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography";
@use "../../styles/partials/variables" as *;

.section__homePage {
  margin: 0 auto;
  max-width: $maxContentWidth;

  &__homePage--wrapper {
    padding: 1rem;
    width: 100vw;
  }
}
.hero {
  &__section {
    height: 24rem;
    background-image: url("../../assets/images/MelderBG.jpg");
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0.5rem 0.4rem 0.4rem $secondaryMercury;

    @include tablet {
      height: 32rem;
    }
  }
  &__head {
    width: 28rem;
  }
}
.card {
  &__section {
    padding: 2rem 1rem;
    width: 100%;
  }
    &__section--layout {
      // padding: 1rem 1rem;
      @include tablet {

        padding: 2rem 6rem 0rem 6rem;
      }
      @include desktop {
        padding: 2rem;
      }
    }
}

.about {
  &__title--container {
    width: 95%;
    border-bottom: 1px solid $secondaryMercury;
    margin: 0 auto;
  }

  &__title1 {
    color: $primaryGreen;
    margin:1rem;
    font-size: 2.6rem;

    @include tablet {
      margin: 0 0 2rem 8rem;
      font-size: 3.2rem;
    }
  }
  &__title2 {
    margin:1rem;
    font-size: 1.4;
    @include tablet {
      margin: 0 0 2rem 8rem;
    }
    
  }

  &__card {
    @include tablet {
      display: flex;
      flex-direction: row;
      padding-top: 4rem;
    } 
  }
  &__text-wrap{
    padding-bottom: 2rem;

    @include tablet {
      padding-right: 4rem;
    }
  }

  &__text {
    letter-spacing: 1px;
    line-height: 2rem;
    margin-top: 1rem;
  }
}
.homeCreate {
  &__CTA {
    border: 1px solid $primaryGreen;
    border-radius: 1rem;
    box-shadow: $shadow;
    padding: 2rem;
    margin: 1rem;

    @include tablet {
      flex:0 0 28%;
    }
  }
  &__textContainer {
    display: flex;
    flex-direction: column;
    align-items: center;


    @include tablet {
      justify-content: space-around;
      gap:4rem;
      
    }
  }
  &__heading {
    margin-bottom: 1rem;
    @include tablet {
      // margin-bottom: 4rem;
      font-size: 2.4rem;
    }
  }
  &__subheading1 {
    margin-bottom: 2rem;
    @include tablet {
      // margin-bottom: 4rem;
      font-size: 1.8rem;
      color: $primaryGreen;
    }
  }
  &__subheading2 {
    margin-bottom: 2rem;
    @include tablet {
      margin-bottom: 4rem;
      font-size: 1.8rem;
    }
  }

  &__CTA--button {
    width: 100%;
    
    // flex-grow: 1;
  }
}
.list {
  &__card {
    width: 80%;
    border-top: 1px solid $secondaryMercury;
    margin: 2rem auto;
    

  }
}
