@use "../../styles/partials/global";
@use "../../styles/partials/reset";
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography";
@use "../../styles/partials/variables" as *;

.hero {
  &__section {
    height: 24rem;
    background-image: url("../../assets/images/MelderBG.jpg");
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__head {
    width: 24rem;
  }
  &__title {
    font-family: $font-stackB;
    font-weight: 400;
    font-size: 5rem;
  }
}
.card {
  &__section {
    padding: 2rem 1rem;

    &__section--layout {
      @include tablet {
        display: flex;
        justify-content: center;
      }
    }
  }
}

.about {
  &__title--container{
    width:max-content;
    display:flex;
    flex-direction: column;
  }
  &__title {
    text-decoration: underline solid $secondaryOrange;
    margin:1rem;

  }
  &__title3{
    text-decoration: underline solid $primaryGreen;
    margin:1rem;

  }
  &__card {
    padding-bottom: 2rem;
  }

  &__text {
    letter-spacing: 1px;
    line-height: 2rem;
    margin-top: 1rem;
  }
}
.homeCreate {
  &__CTA {
    border: 1px solid $primaryGreen;
    border-radius: 1rem;
    padding: 2rem 2rem;
    margin: 2rem;
  }
  &__heading {
    margin-bottom: 1rem;
  }
  &__subheading {
    margin-bottom: 2rem;
  }
  &__CTA--button {
    width: 100%;
  }
}
.list{
  &__card{
    width: 100%;
    margin:0 auto;
  }
}
